.footerStyle {
    width: 100%;
    height: auto;
    position: inherit;
    left: 0;
    bottom: 0;
    margin-top: 100px;
   
    
}
.footerHeader{
    height: 40px;
    width: 100%;
}
.footerHeader div{
    width: 28%;
    float: left;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}
.footerHeader div:first-child{
    margin-left: 16%;
}
.footerParagraf{
    height: 200px;
}

.footerParagraf div{
    width: 28%;
    float: left;
    height: 200px;
    font-size: 14px;
    font-style: italic;
}
.footerParagraf div:first-child{
    margin-left: 16%;
}
 
.faStyle {
    text-align: left;
    margin: 10px;
    font-size: 30px;

}