@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Handlee&family=Josefin+Sans&family=Kaushan+Script&family=Lora&family=PT+Serif&family=Quicksand&family=Rancho&family=Roboto+Condensed&family=Roboto+Slab:wght@300&family=Srisakdi&display=swap');


.Fishes{
    width: 100%;
    font-family: 'Handlee', cursive;
    text-align: center;
    color: rgb(46, 1, 1);
    margin-top: 100px;

}

.Fishes p {
    font-size: 22px;
}