@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Handlee&family=Josefin+Sans&family=Kaushan+Script&family=Lora&family=PT+Serif&family=Quicksand&family=Rancho&family=Roboto+Condensed&family=Roboto+Slab:wght@300&family=Srisakdi&display=swap');

.Wines {
    width: 100%;
    font-family: 'Handlee', cursive;
    text-align: center;
    color: rgb(46, 1, 1);
    margin-top: 30px;
    
}

.Rose {
    margin-top: 100px;
}

.WinesBack {
    width: 100%;
    height: 300px;
    background: url("/Pictures/wineglasses.jpg");
    background-position: center;
    background-size: 100%;
}

.REDendWHITE {
    display: flex;
    width: 100%;
    margin-top: 100px;
}
.Red{
    width: 50%;
}

.Wines p {
    font-size: 22px;
}
.White {
    width: 50%;
}